@charset "utf-8";
/*默认背景颜色*/
$bg-color:#eee;
//字体颜色
/*默认字体颜色*/
$font-color:black;
//间隙填充颜色
$fill-color:white;
/*活动字体颜色，鼠标移上去时，部分提示颜色*/
$active-color:#38b5fb;
/*不引人注意的字体颜色*/
$house-noattr:#ccc;
$noattr-color:#eee;
$vue-color:#42b983;
